doctype
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Test
   
    link(href='widgets.css', rel='stylesheet')
    script(src='jquery.js')
    script(src='lodash.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highstock/2.0.4/highstock.js')
    script(src='angular.js')
    script(src='angular-ui.js')
    script(src='ng-table.js')
    script(src='widgets.js')
    script.
      window.myAppConfig = !{JSON.stringify(config).replace(/<\//g, "<\\/")}

  body
    div(ng-include="'header.tpl.html'")
    br
    div(class='container', ng-view)

    